@charset "UTF-8";

.datacontainer,appointmentdatachange {
	border: 1px solid blue;
	width: 50%;
	height: auto;
	margin: auto;
	margin-top: 20px;
	text-align: center;
}

.appointmentdata {
	padding: 2%;
}

.check-appointment {
	border: 1px solid blue;
	width: fit-content;
	height: auto;
	margin: auto;
	margin-top: 10px;
	text-align: center;
}


.check-appointment  * {
	display: block;
	margin: auto;
}

.schedule-appointment {
	border: 1px solid blue;
	width: fit-content;
	height: auto;
	margin: auto;
	margin-top: 10px;
	text-align: center;
}

.schedule-appointment * {
	display: block;
	margin:auto;
}




