@charset "UTF-8";


.benefits-box {
	border: 1px solid antiquewhite;	
	margin-top: 15px;
	width: 80%;
	height: auto;
	margin: 15px auto auto auto;
	padding: 3%;
	font-family: 'Rubik', sans-serif;
	line-break: loose;
	word-spacing: 2px;
	line-height: 1.5;
	border-radius: 7%;
	font-weight: 600;
	background-color: rgb(253, 245, 236);
}



