@charset "UTF-8";

.imagingdataentry form{
	margin: 2% auto auto auto;
	padding: 6%;
	border-radius: 8%;
	border: 1px solid rgb(207, 207, 207);
	background-color: antiquewhite;
	text-align: center;
	width: 35%;
	position: relative;
}

.imagingdataentry form * {
	display: block;
	margin:10px auto;
}

.imagingdataentry form input {
	border: none;
}

.imagingdataentry form .btn {
	margin-top: 15%;
}


.imagingdataentry form:hover{
	box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}


.monserrat {
	font-family: 'Fjalla One', sans-serif;
	font-weight: 750;
}


.imaginglist {
	height: 250px;
	width: auto;
	margin: 8px;
}

.imagingBox {
  	display: grid;
 	grid-template-columns: 300px 300px;
	padding: 8px;
	margin:15px;
}










