@charset "UTF-8";


.labinfoentry form{
	margin: 2% auto auto auto;
	padding: 6%;
	border-radius: 8%;
	border: 1px solid rgb(207, 207, 207);
	background-color: antiquewhite;
	text-align: center;
	width: 35%;
	position: relative;
}

.labinfoentry form * {
	display: block;
	margin:10px auto;
}

.labinfoentry form input {
	border: none;
}

.labinfoentry form .btn {
	margin-top: 15%;
}


.labinfoentry form:hover{
	box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}

.datacontainer {
	padding: 6%;
	border-radius: 8%;
	border: 1px solid rgb(207, 207, 207);
	background-color: antiquewhite;
	width: 50%;
	height: auto;
	margin: 20px auto auto auto;
	text-align: center;
}

.fieldContainer {
	position: relative;
}

.datacontainer h3 {
	margin-bottom: 15px;
}

.labsdata {
	padding: 2%;
}

.labsdata p{
	font-family: 'Pacifico', cursive;
}

.monserrat {
	font-family: 'Fjalla One', sans-serif;
	font-weight: 750;
}


/* Tooltip container */

/* Tooltip text */
.tooltiptextName, .tooltiptextLastName, .tooltiptextSecondLastName{
  visibility: hidden;
  width: 200px;
  background-color: #555;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;

  /* Position the tooltip text */
  position: absolute;
  z-index: 1;
  bottom: 10px;
  left: 10px;
  margin-left: -60px;

  /* Fade in tooltip */
  opacity: 0;
  transition: opacity 0.3s;
}

/* Show the tooltip text when you mouse over the tooltip container */
.visible {
  visibility: visible;
  opacity: 1;
}





