@charset "UTF-8";
* {
	box-sizing: content-box;
	margin: 0;
	padding: 0;
}



/* Cards container items*/
.card-container {
	display: grid;
	grid-template-columns: 1fr 1fr;
  	gap: 50px 50px;
	width: 80%;
	margin:auto;
	margin-top: 20px;
	justify-content:center;
	padding: 30px;
}

.card  img {
	height: 80px;
	width: 80px;
	margin: auto;
}

.monserrat {
	font-family: 'Fjalla One', sans-serif;
}

.card-body .btn {
	font-family: 'Fjalla One', sans-serif;
}

.card-text {
	font-family: 'Pacifico', cursive;
}

.card {
	padding: 10px;
	margin: auto;
}

.background-color-card {
	background-color: antiquewhite;
}

.card-container .card:hover {
	box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}





.footer-container {
	width: 100%;
	height: 250px;
	border: 1px solid  antiquewhite;
	margin-top:20px;
	display: flex;
	justify-content: space-around;
	padding: 5px;
}

.footer-container .vl{
	display: inline-block;
	border-right: 1px solid  antiquewhite;
	text-align: center;
	padding: 5px;
	width: 200px;
}

.footer-container .vl a{
	text-decoration: none;
	color: rgb(0, 0, 4);
	font-family: 'Paytone One', sans-serif;
	font-weight: 650;
}

.footer-container .vl .bl{
	display: block;
	
}

.footer-container .vl span {
	color: rgb(0, 0, 4);
	font-weight: 650;
	display: block;
	margin-top: 15px;
	font-family: 'Dancing Script', cursive;
}




