@charset "UTF-8";
* {
	box-sizing: content-box;
	margin: 0;
	padding: 0;
}


/* Navigation Bar */

.color {
	border: 1px solid  antiquewhite;
}

.nav-items  {
	color: rgb(0, 0, 4);
	font-family: 'Paytone One', sans-serif;
	font-weight: 650;
}


.container-fluid {
	position: relative;
	border: 1px solid blue;
	
}

/* Cards container items*/
.card-container {
	display: grid;
	grid-template-columns: 1fr 1fr;
  	gap: 50px 50px;
	width: 80%;
	margin:auto;
	margin-top: 20px;
	justify-content:center;
	padding: 30px;
}

.card  img {
	height: 80px;
	width: 80px;
	margin: auto;
}


.card-body .btn {
	font-family: 'Fjalla One', sans-serif;
}

.card-text {
	font-family: 'Pacifico', cursive;
}

.card {
	padding: 10px;
	margin: auto;
}

.background-color-card {
	background-color: antiquewhite;
}

.card-container .card:hover {
	box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}


/* Benefits */

.benefits-box {
	background-color: rgba(250, 235, 215, 0.2);
	margin-top: 15px;
	width: 80%;
	height: auto;
	margin: 15px auto auto auto;
	padding: 3%;
	font-family: 'Rubik', sans-serif;
	line-break: loose;
	word-spacing: 2px;
	line-height: 1.5;
	border-radius: 7%;
	font-weight: 600;
}



/* Appointments */

.appointments-box {
	width: 50%;
	height: auto;
	margin: 15px auto auto auto;
	position: relative;
	display: flex;
}

appointmentdatachange {
	border: 1px solid blue;
	width: 50%;
	height: auto;
	margin: auto;
	margin-top: 20px;
	text-align: center;
}

.datacontainer {
	padding: 6%;
	border-radius: 8%;
	border: 1px solid rgb(207, 207, 207);
	background-color: rgba(250, 235, 215, 0.3);
	width: 50%;
	height: auto;
	margin: 20px auto auto auto;
	text-align: center;
}

.appointmentdata {
	padding: 2%;
}

.appointmentdata p {
	font-family: 'Pacifico', cursive;
	font-weight: 500;
}


.check-appointment {
	width: fit-content;
	height: 50vh;
	margin: 10px auto;
	text-align: center;
	position: relative;
}


.check-appointment label, .check-appointment input, .check-appointment button { 
	display: block;
	margin: 10px auto 10px auto;
}

.check-appointment form {
	margin-top: 50%;
	padding: 6%;
	border-radius: 8%;
	border: 1px solid rgb(207, 207, 207);
	background-color: rgba(250, 235, 215, 0.3);
}

.check-appointment form input{
	border: 1px solid black;
}

.schedule-appointment form:hover {
	box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.check-appointment form:hover {
	box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.schedule-appointment form{
	border: 1px solid rgb(207, 207, 207);
	padding: 6%;
	border-radius: 8%;
	background-color: rgba(250, 235, 215, 0.3);
}


.schedule-appointment form input{
	border: 1px solid black;
}

.schedule-appointment {
	width: fit-content;
	height: 50vh;
	margin: 10px auto;
	text-align: center;
	padding: 3%;
	position: relative;
}

.schedule-appointment * {
	display: block;
	margin:8px auto;
}



/* Labs */


.labinfoentry form{
	margin: 2% auto auto auto;
	padding: 2%;
	border-radius: 4%;
	border: 1px solid rgb(207, 207, 207);
	background-color: rgba(250, 235, 215, 0.3);
	text-align: center;
	width: fit-content;
	position: relative;
}

.labinfoentry form * {
	display: block;
	margin:10px auto;
}

.labinfoentry form input {
	border: 1px solid black;
}

.labinfoentry form .btn {
	margin-top: 15%;
}


.labinfoentry form:hover{
	box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.datacontainer {
	padding: 2%;
	border-radius: 8%;
	border: 1px solid rgb(207, 207, 207);
	background-color: rgba(250, 235, 215, 0.3);
	width: fit-content;
	height: auto;
	margin: 20px auto auto auto;
	text-align: center;
}

.fieldContainer {
	position: relative;
}

.datacontainer h3 {
	margin-bottom: 15px;
}

.labsdata {
	padding: 2%;
}

.labsdata p{
	font-family: 'Pacifico', cursive;
}


/* Tooltip container */

/* Tooltip text */
.tooltiptextName, .tooltiptextLastName, .tooltiptextSecondLastName{
  visibility: hidden;
  width: 200px;
  background-color: #555;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;

  /* Position the tooltip text */
  position: absolute;
  z-index: 1;
  bottom: 10px;
  left: 10px;
  margin-left: -60px;

  /* Fade in tooltip */
  opacity: 0;
  transition: opacity 0.3s;
}

/* Show the tooltip text when you mouse over the tooltip container */
.visible {
  visibility: visible;
  opacity: 1;
}



/* Imaging */

.imagingdataentry form{
	margin: 2% auto auto auto;
	padding: 2%;
	border-radius: 8%;
	background-color: rgba(250, 235, 215, 0.3);
	text-align: center;
	width: fit-content;
	position: relative;
}

.imagingdataentry form * {
	display: block;
	margin:10px auto;
}

.imagingdataentry form input {
	border: 1px solid black;
}

.imagingdataentry form .btn {
	margin-top: 15%;
}


.imagingdataentry form:hover{
	box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}



.imaginglist {
	height: 250px;
	width: auto;
	margin: 8px;
}

.imagingBox {
  	display: grid;
 	grid-template-columns: 300px 300px;
	padding: 8px;
	margin:15px;
}



/* Register Patient */

.registration {
	text-align: center;	
	width: fit-content;
	padding: 2%;
	margin: 5% auto 5% auto;
	background-color: rgba(250, 235, 215, 0.3);
}

.form-items {
	margin: 5px;
}

.form-items * {
	display: block;
	margin:10px auto;
}

.missingFieldsBox {
	border: solid black 1px;
	width: fit-content;
	margin:5% auto auto auto;
	padding: 1%;
	text-align: center;
}

.missingItems {
	text-align: center;
	
}




/* Footer */

.footer-container {
	width: 100%;
	height: 220px;
	margin-top: 270px;
	background-color: rgba(250, 235, 215, 0.3);
	display: flex;
	justify-content: space-around;
	padding: 5px;
}

.footer-container .vl{
	display: inline-block;
	border-right: 1px solid  antiquewhite;
	text-align: center;
	padding: 5px;
	width: 200px;
}

.footer-container .vl a{
	text-decoration: none;
	color: rgb(0, 0, 4);
	font-family: 'Paytone One', sans-serif;
	font-weight: 650;
}

.footer-container .vl .bl{
	display: block;
	
}

.footer-container .vl span {
	color: rgb(0, 0, 4);
	font-weight: 650;
	display: block;
	margin-top: 15px;
	font-family: 'Dancing Script', cursive;
}


/* Helpers */
.monserrat {
	font-family: 'Fjalla One', sans-serif;
}


